
body{
    background: rgb(14, 12, 46);
    font-family: roboto;;
    margin: auto;
    padding-top: 80px;
    
    
}
 
h2 a{
    color: white;

   
}

button{
    padding:6px 12px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.header{
    background-color:rgb(14, 12, 46);
    padding: 4px 2px;
    position: fixed;
    top:0px;
    right: 0;
    left: 0;

}

@media (max-width :500px) {
     
    .product-image{
        
       max-width: 130px;
       margin-bottom: 8px;
      
}

.product-container{
    display: flex;
    align-items:center;
    border-radius: 6px;
    flex-direction: column;
    
    
    }
    

.buttons button{
    padding:4px 0px;
    border-radius: 4px;
    
}

.product-name,
.product-quantity,
.arriving-date,
.shipping-method{
 
 font-weight: 600;
 font-size: 14px;
}
 .body{
    margin: 0;
 }


}

.main{
    margin-bottom: 40px;
    padding: 0;
    background-color: rgb(247, 251, 255);
   border: 1px solid rgb(230, 218, 218);
   padding: 0 ;
}

.order-container{
color:white;
}
.order-container span{
display: flex;
justify-content: center;
position: absolute;
right: 0;
left: 0;
top: 30%;
bottom: 0;
}

.order-properties{
    display:flex;
     justify-content: space-between;
    align-items: center;
    background-color:rgb(206, 152, 152);
    padding: 8px 6px;
    
}


.order-date,
.order-id,
.order-cost{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    font-weight: 700;
}

.ordered-on{
    color:rgb(202, 28, 28);
}
.ordered-date{
    color: rgb(160, 14, 136);
}

.order-id-text{
    color: brown;
}

.order-id-number{
    color: blueviolet;
}

.total-cost-text{
    color: rgb(194, 23, 23);
}
.total-cost-number{
    color: rgb(20, 20, 168);
}
.main-flex{

    display: flex;
    align-items:end;
     border-top:1px solid rgb(219, 210, 210);
    padding: 16px 5px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.product-container{
display: flex;
align-items:end;
border-radius: 6px;
 


}

.product-image{
 display:flex;
 justify-content: center;
 width: 150px;
  margin-right: 12px;

}



.item-image{
    width: 90%;
}

.product-name,
.product-quantity,
.arriving-date,
.shipping-method{
margin-bottom: 4px;
 font-weight: 600;
}

.product-quantity{
    color: brown;
}

.product-name{
    color: navy;
}
.shipping-method{
    color: rgb(4, 170, 235);
}
.arriving-date{
    color: green;
}
.buttons{
    display: flex;
    flex-direction: column;
   margin-left: 12px;
    row-gap: 14px;
}

.buy-again{
    transition: 0.5s ease;
    background-color: yellow;
    color: rgb(31, 3, 3);
}
.buy-again:hover{
    transition: 0.5s ease-in;
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgb(255, 187, 0);
}
.track-package{
    transition: 0.5s ease;
    background-color: green;
    color: white;
    
}

.track-package a{
    text-decoration: none;
    color: white;
}
.track-package:hover{
    transition: 0.5s ease-in;
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgb(30, 224, 4);
}