
 


.header{
    height: 60px;
    background-color:black;
     color: white;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0;
   

}

.header div{
    display: flex;
    justify-content: space-between;
    flex:1;
     
}
.header div a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: 500ms ease-in-out;
  
}

 
.header div div div{
    cursor: pointer;
   
}
.header div a:hover{
    color: rgb(187, 67, 19);
    transition: 500ms ease-in-out;
  
   
}

.left-side{
max-width: 120px;

}
.middle{
    flex: 1;
    max-width: 800px;
    margin-right: 10px;
    margin-left: 10px;
   
}

.searchbar{
   outline: none;
   border:none;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.searchbar::placeholder{
font-family: roboto;
color: rgb(73, 69, 69);
}

.search-button{
    background-color: rgb(12, 140, 199);
    border: none;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.right-side{
   
   flex:1;
 max-width: 120px;
   
}
.cart-quantity{
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
     width: 20px;
    font-weight: bold;
    color:rgb(226, 81, 24);
  
    position:absolute;
    top: 2px;
   
    right: 2px;
}

.icon-container{
     width: 30px;
    height: 30px;
}
.header-icon{
    width:100%;
}

/*menu styles*/





.drop-down-menu{
    background-color: aliceblue;
    display: inline-block;
    
    width: max-content;
    height: max-content;
    position: fixed;
    left: 0;
    text-decoration: none;
}

.drop-down-menu div,
.drop-down-menu a{
   
    cursor: pointer;
    padding-top: 4px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-bottom: 4px;
    
    width:  120px;
    text-decoration: none;
    color: black;
    

}

.drop-down-menu a div{

    width: 120px;
}

.drop-down-menu div a{
    text-decoration: none;
}
.drop-down-menu div:hover,
.drop-down-menu a:hover{
background-color: rgb(3, 170, 192);
text-decoration: underline;
 

} 

 
.message-us-drop-down
{
     
    position:fixed ;
    background-color:aliceblue;
    color:black;
     
    left: 80px;
    top:98px;
    width: 130px;
    
}
.about-us-drop-down{
    width: 150px;
}
.about-us-drop-down div,
.message-us-drop-down div{
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    
    
}
.about-us-drop-down div:hover,
.message-us-drop-down div:hover{
    background-color: rgb(6, 143, 185);
    text-decoration: underline;
    border-radius: 3px;
     
    
    } 
    
.about-us-drop-down{
    position:fixed ;
    background-color: aliceblue;
    width: 90px;
    left: 80px;
    top:122px;


}   
.message-us-drop-down{
left: 163px;
top:135px;
width: 110px;
 
 
}
.message-us-drop-down div{
    display: flex;
    align-items: center;
}
.message-us-drop-down a{
    text-decoration: none;
    color: black;
}

.facebook-icon,
.whatsapp-icon,
.gmail-icon{
    width: 20px;
    
}
