

body{
    background-color :black;
}

.enter-info{
    color: rgba(219, 30, 30, 0.966);
    display: flex;
    justify-content: center;

}
.main{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    row-gap: 20px;
    font-family: roboto;
    margin-top: 200px;
    border: 1px solid rgb(45, 17, 173);
    padding: 40px 50px;
   
    border-top-left-radius:8px ;
    border-top-right-radius: 8px;
    border-bottom: none;
    background-color:  aqua;
    

  

}

.main:hover{
  
 box-shadow: 0px 0px 20px rgb(3, 209, 216);
  

 
}

.main div{
    display: grid;
     grid-template-columns: 80px 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

 

input{
    padding: 6px 6px;
    
    border: 1px solid black;
    border-radius: 5px;
    outline: noe;
}

 

.username-input,
.password-input{
 width:100%;
}


.username-input ::placeholder{
    color: darkgreen;
    padding: 6px 4px;
    
}


.password-input ::placeholder{
    color: blueviolet;
    padding: 6px 4px;
}

.username-text{
    color:darkblue;
    font-weight: 600;
}

.password-text{
    color: darkred;
    font-weight: 600;
}

.log-in-container{ 
    background-color:  aqua;
    display: flex;
    justify-content:  end;
    border-top: none;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius: 8px;
    margin-left: 1px;
    margin-right: 1px;
    padding-bottom : 8px;
    padding-right: 15px;
}


.log-in-button{
    padding: 5px 10px;
    background-color: blue;
    color:white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
}

 