

body{
    background-color :black;
}

.enter-info{
    color: rgba(219, 30, 30, 0.966);
    display: flex;
    justify-content: center;

}
.main{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    row-gap: 30px;
    font-family: roboto;
    margin-top: 100px;
    border: 1px solid rgb(45, 17, 173);
    padding: 100px 50px;
    border-radius:8px ;
    border-bottom-right-radius: 0px;

    
    
    

  

}

.main:hover{
  
 box-shadow: 0px 0px 50px rgb(45, 17, 173);
  

 
}

.main div{
    display: grid;
     grid-template-columns: 80px 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

 

input{
    padding: 6px 6px;
    
    border: 1px solid black;
    border-radius: 5px;
    outline: noe;
}

 

.username-input,
.password-input{
 width:100%;
}


.username-input ::placeholder{
    color: darkgreen;
    padding: 6px 4px;
    
}


.password-input ::placeholder{
    color: blueviolet;
    padding: 6px 4px;
}

.username-text{
    color:darkblue;
    font-weight: 600;
}

.password-text{
    color: darkred;
    font-weight: 600;
}

.log-in-container{ 
    
    display: flex;
    justify-content:  end;
    border-top: none;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius: 8px;
    
    padding-bottom : 8px;
   
  
}


.log-in-button{
    padding: 8px 15px;
   background-color: black;
    color:white;
    border: 1px solid rgb(45, 17, 173);
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
    border-top: none;
}

.caution-span{
    color: rgb(179, 6, 6);
}

.log-in-button:hover{
    background-color: rgb(45, 17, 173) ;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

 