body{
    
    
    margin-top: 60px;
    background-color: white;
    
    font-family: roboto;
    font-size: 14px;
     
}

 
 
 .products-grid-container{
   display:grid;
   flex-direction: row;
   justify-content: space-between;
   grid-template-columns:repeat(5,1fr);
   column-gap: 0;
   row-gap: 0;
   border-left: 1px solid lightgrey;
   background-color:white;
   justify-content: space-between;
   flex: 1;
   
  
 }


 
 @media (max-width: 2000px) {
   .products-grid {
     grid-template-columns: repeat(5, 1fr);
   }
 }
 
 /* This @media means when the screen width is 1600px or
    less, we will divide the grid into 6 columns. */
 @media (max-width: 1600px) {
   .products-grid-container{
     grid-template-columns: repeat(6, 1fr);
   }
 }
 
 @media (max-width: 1300px) {
   .products-grid-container{
     grid-template-columns: repeat(5, 1fr);
   }
 }
 
 @media (max-width: 1000px) {
   .products-grid-container{
     grid-template-columns: repeat(4, 1fr);
   }
 }
 
 @media (max-width: 800px) {
   .products-grid-container{
     grid-template-columns: repeat(3, 1fr);
   }
 }
 
 @media (max-width: 575px) {
   .products-grid-container{
     grid-template-columns: repeat(2, 1fr);
   }
    
 }
 
 @media (max-width: 450px) {
   .products-grid-container{
     grid-template-columns: 1fr;
   }

  
 }

 .products-grid{
  margin-top: 100px;
}
.item{
 height:120px ;
 
}


 .product-container{
   display: inline-block;
   
   border-right: 1px solid lightgrey;
   border-spacing:0;
   max-width: 100%;
 }

 .product-divider{
border-top: 1px solid lightgray;

 }
 .product-image-container{
   display: flex;
   justify-content: center;
   padding-top: 8px ;
    align-items: center;
   margin-right: 8px;
   
  
   width:100%;
   height: 200px;
   flex: 1;
 }
 .product-name-container{
   display: flex;
   justify-content: center;
   font-size: 16px;
   font-weight: 500;
   margin-top: 0px;
   height: 45px;

 }
 .product-specs{
  padding-left: 5px;
 }

 .storage-rom-container,
 .storage-ram-container,
 .product-system-container{
 display: flex;
 margin: 7px 3px;
 align-items: center;
 justify-content: safe;
 gap: 15px;
 

 }

 .rom-text-container,
 .ram-text-container,
 .system-text-container,
 .product-price-text{
   font-weight: 600;
   font-style: arial;
 }
 .system-text-container{
  width:  80px;
  line-height: 15px;
 }
 .ram-amount,
 .rom-amount,
 .product-operating-system{
   color: rgb(0, 0, 255);
    
 }
 .amount-container,
 .rom-type{
   color:brown;
   font-weight: 800;
 }
 .js-more-info,
 .see-less-button{
  color: rgb(0, 17, 255);
  cursor: pointer;
  border:none;
  background-color:white;
  display: inline-block;
 }

 .displayed-info{
  padding-left: 10px;
  color: rgb(28, 32, 29);
  border:none;
  background-color:white;
 
 max-height: 150px;
  font-size: 13px;
  cursor:text;
  
 
 }

 
 

 .product-price-container{
   display: flex;
   justify-content: center;
   margin-top: 10px;
   padding-top: 4px;
   padding-bottom: 4px;
    
 }

 .added-text-div{
   margin-top: 8px;
   margin-left: 70px;
   font-size: 22px;
   font-weight: bold;
   color:green;
 }
 .add-to-cart-container{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

   
 }
.added-tick-icon{
 width: 18px;
 margin-bottom: 0;
}
.product-quantity-container select{
  height: 100%;
  border: 2px solid rgb(238, 83, 11);
  margin-left: 5px;
  cursor: pointer;
  border-radius:3px;
  font-family: roboto;
   
}
.product-quantity-container{
 display: flex;
 justify-content: space-between;
 align-items: center;
margin-top: 15px;
  height: 25px;

}

.star-icon{
  height: 38px;
   
}
.stars-container{
  height: 30px;
}

.stars-div{
  margin-right: 10px;
   padding: 4px 2px;
   color:rgb(255, 0, 119);
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.added-text-container{
  display:flex;
  justify-content: center;
  color:green;
  font-weight: bold;
  opacity: 0;
}

.adding-product{
  display:flex;
  justify-content: center;
  color:green;
  font-weight: bold;
  opacity: 1;
  

}

 
 .add-to-cart-button{
   width: 120px;
   height: 35px;
   border: none;
   background-color: rgb(7, 89, 211);
   color: rgb(255, 255, 255);
   border-radius: 20px;
   font-size: 14px;
   cursor: pointer;
 }