
body{
    font-family: roboto;
  background-color: wheat;
    background-size: 100%;
    background-position: center;

}

p{
    margin-top: -4px;
    margin-bottom: 5px;
    display:  flex;
    justify-content: end;
     
   
}

span{
    color: rgb(212, 13, 13);
    font-size: 13px;
    font-weight: 500;
}

.main-flex{
    
    display: flex;
     font-family: roboto;
     width: 600px;
     flex-direction: column;
     padding: 20px 2px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    
}

.heading{
    
    color:rgb(10, 33, 167);
     
     align-items: center;
     font-family: roboto;
     
}


@media( max-width:500px) {
    .main-container{
        max-width:95%;
        margin-left: 5px;
        margin-right: 5px;

    }

    .main-flex{
        width: 100%;
    }

    
}

.main-container{
     
    color:black;
    width:100%;

    border: none;
    font-size: 14px;
    font-family: roboto;
    
}

.main-container div{
  border: none;
    display:grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    font-family: roboto;
    margin-bottom: 6px;
    
}
.main-container div div{
    margin: 0;
    color :rgb(99, 20, 202)
}

input,
select{
 padding: 4px 4px;
outline: none;
}

input:focus,
select:focus{
    border-color: blue;
    border-width: 2px;
}

input::placeholder{
    
    color: rgb(167, 69, 12);

}
.date-of-birth,
select{
    font-family: roboto;
}


.save-info-paragraph{
    
    display: flex;
    justify-content: end;
}

.save-info{
    padding: 4px 8px ;
    cursor: pointer;  
    background-color: green;  
    color: white;
    border: 1px solid rgb(0, 255, 34);
}

.log-in-span{
    color: rgb(8, 20, 128);
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

 .yes-save{
    background-color: rgb(7, 104, 28);
    border: none;
    cursor: pointer;
    color: white;
 }
 .no-save{
    background-color: rgb(179, 17, 17);
    border: none;
    cursor: pointer;
    color: white;
 }
 .terms-conditions-paragraph{
    display: none;
    margin-left: 100px;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 3px;
    color:rgb(87, 7, 192);
    font-size: 14px;
    
    padding: 10px;
    line-height: 20px;
   
 }

 .confimation-buttons-container{
    display: inline-block;
    margin-left: 15px;
 }
 .pivacy-policy-span{
    font-size: 15px;
    color:rgb(160, 8, 97);
    cursor: pointer;
    text-decoration: underline;
 }

  
 

 .hide{
    display: none;
 }

 .show{
 display:initial;

 }

 .complete-sign-in-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
 }

 .complete-sign-in-div div{

    margin: 10px;
    font-size: larger;
    color: rgb(29, 17, 199);
 }

.complete-sign-in-div div span{
    font-size: large;
}