
body{
    font-family: roboto;
  background-color: black;
    
    background-position: center;
color:white;
}

p{
    margin-top: -4px;
    margin-bottom: 5px;
    display:  flex;
    justify-content: end;
     
   
}

span{
    color: rgb(212, 13, 13);
    font-size: 13px;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 6px;
}

  
.main-flex{
    
    display: flex;
     font-family: roboto;
     flex-direction: column;
     padding: 30px 2px;
    border: 2px solid  rgb(45, 17, 173) ;
    border-radius: 10px;
    background-color: black;
    padding: 50px 20px;
   
    
}

.main-flex:hover{
    box-shadow: 0px 0px 50px  rgb(45, 17, 173)  ;
}

.heading{
    
    color:green;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: roboto;
     
}


@media( max-width:500px) {
    .main-container{
        max-width:95%;
        margin-left: 5px;
        margin-right: 5px;

    }

    .main-flex{
       max-width: 100%;
    }

    
}

.main-container{
     
    width:100%;

    border: none;
    font-size: 14px;
    font-family: roboto;
    
    
}

.main-container div{
 margin-bottom: 15px;
    
}
.main-container div div{
    margin: 4px 0px;
    color :rgb(14, 118, 150);
    font-weight: bold;
}

input,
select{
 padding: 8px 4px;
outline: none;
width: 98%;
}

input:focus,
select:focus{
    border-color: blue;
    border-width: 2px;
}

input::placeholder{
    
    color: rgb(167, 69, 12);

}
.date-of-birth,
select{
    font-family: roboto;
}


.save-info-paragraph{
    
    display: flex;
    justify-content: end;
}

.save-info{
    padding: 4px 8px ;
    cursor: pointer;  
    background-color: green;  
    color: white;
    border: 1px solid rgb(0, 255, 34);
}

.log-in-span{
    color: rgb(15, 34, 212);
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

 
  
 .pivacy-policy-span{
    color:rgb(160, 8, 97);
    cursor: pointer;
    text-decoration: underline;
 }

  
 

 .hide{
    display: none;
 }

 .show{
 display:initial;

 }

 .complete-sign-in-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
 }

 .terms-conditions-paragraph{
    font-size: 13px;
    margin-top: 12px;
    
    display: flex;
    justify-content: end;
}

 

.save-info-span{
    color: green;
}
 .complete-sign-in-div div{

    margin: 10px;
    font-size: larger;
    color: rgb(29, 17, 199);
 }

.complete-sign-in-div div span{
    font-size: large;
}

.heading5{
    
    color:white;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: roboto;
     
}