body{
    font-family: roboto;
    padding-top: 50px;
}
.header-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color:black;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 50px;
    color: white;
    z-index: 100;

}
textarea{
   width: 100%;
   min-height: 100px;
   box-sizing: border-box; /* Includes padding and border in the element's total width and height */
   overflow: hidden; /* Hide the scrollbars */
   resize: none; /* Disable manual resizing */
   font-family: roboto;
   border: 1px solid black;

}

textarea:focus{
   outline: none;
   border: 2px solid rgb(14, 33, 201);
  
}

.header-container div a{
   text-decoration: none;
   color: white;
   cursor: pointer;
}
.item-text{
   color:rgb(17, 17, 17) ;
   font-weight: 900;
}
.left-h-side{
display: flex;
align-items: center;
}

.check-out-text{
    font-size: 25px;
    font-weight: 900;
   
  
    padding: 4px 15px;
    border-radius: 6px;
    cursor:pointer;

}
.icon-lock{
    height: 30px;
}


.products-summary-grid{
   
   display:grid ;
   grid-template-columns: repeat(2,1fr);
   row-gap: 10px;
   column-gap: 10px;
    
}


.all-item-info-div{
   padding-top: 10px;
   padding-left: 10px;
   border: 1px solid gray;
   background-color: white;
   max-width: 700px;
   margin-bottom: 8px;
}
.product-container{

   display: flex;
   height: max-content;
   align-items: center;
   justify-content:space-between;
   max-width:100%;
   padding: 4px;
    
   
}
.all-summary-info{
   height: max-content;
border: 1px solid black;
   background-color:rgb(19, 19, 2);
}
.summary-side{
   height: max-content;
  background-color: whitesmoke;
   max-width: 1fr;
   margin: 0;
   
   
}

.summary-side div{
    background-color: whitesmoke;
   display: flex;
    align-items: center;
    padding: 4px;
   justify-content: space-between;
}

.item-delivery-date{
   display: flex;
 align-items: center;
 
max-width: max-content;
color: rgb(35, 70, 110);
font-weight: 800;
}

@media(max-width:600px){

.item-image-container{
      max-width: 120px;
   }
}

@media(max-width:500px){

   .products-summary-grid{
      grid-template-columns: repeat(1,100%);
   }
.all-item-info-div{
   max-width: 100%;
}
.summary-side{
max-width: 100%;

}

.item-image-container{
   max-width: 120px;
}

.product-container{

  align-items:center;
}
}

@media(max-width:450px){
  
.product-container{
    flex-direction: column;
    align-items: start;
  }

   }

.item-image-container{
   display: flex;
   justify-content: center;
   width: 180px;
    
  
}
.item{
   
    width: 98%;;
}
.item-info{
   max-width: max-content;
   flex: 1;
   
}
.item-info div{
   font-size:14px;
   margin: 2px 1px;
}
 
.quantity-info{
   display: flex;
   flex:1;
   margin-bottom: 2px;
   align-items: center;
   font-weight: 500;
}

  
 .quantity-text{
   color:black;

 }
 .item-name{
   font-weight: 600;
   color: rgb(10, 8, 136);
 }
.item-price{
   font-weight: 600;
   color: darkred;
   padding-left: 8px;
 }
 .item-quantity{
   font-weight: 600;
   color: rgb(9, 2, 109);
   padding-left: 2px;
 }

 .delivery-info{
   
   margin-left: 20px;
   width: 250px;
   padding-top: 15px;
 }

.choose-delivery-date-text{
   font-weight: 700;
   font-size: 16px;
   color: rgb(8, 39, 211);
   padding-bottom: 6px;
}
.shipping-date-flex input{
   cursor:pointer;
}
.shipping-date-flex{
   display: flex;
   align-items: center;
   margin: 5px;
}
.shipping-cost{
   color: rgb(12, 29, 187);
   display: flex;
   padding-left: 3px;
}
.date{
   font-weight: 500;
    color: rgb(15, 15, 82);
    cursor: pointer;
}
.shipping-cost{
   color: rgba(211, 6, 6, 0.993);
   font-size: 14px;
   cursor: pointer;
}

.quantity-update-buttons{
  display: flex;
  margin: 4px;
}

.quantity-update-input{
   display: none;
   width:45px;
   border: 1px solid black ;
   outline: none;
   padding: 2px 4px;
   font-weight: 700;
   font-family: roboto;

   color:  rgb(9, 2, 109);
}
.quantity-update-input:focus{
text-transform: none;
border: 1px solid rgb(175, 7, 7);

}

.save-input-quantity-button{
   display: none;
   border: 1px solid rgb(59, 57, 57);
   padding: 2px 4px;
   width: 50px;
   font-weight: 700;
   cursor: pointer;
   background-color: rgb(24, 138, 14);
   color: white;
   font-family: roboto;

}


.is-editing-quantity .quantity-update-input{

   display: initial;
}

.is-editing-quantity .save-input-quantity-button{
   display: initial;
}
.is-editing-quantity .update-button{
   display: none;
}
.is-editing-quantity .delete-button{
   display: none;
}

.is-editing-quantity .item-quantity{
   display: none;
}

.is-editing-quantity .quantity-update-caution{
display: initial;
}

.quatity-update-buttons{
 
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-shrink: 0;
   width: 150px;
   font-family: roboto;
}

.update-button{

   background-color: green;
   color: white;
   border: 1px solid rgb(245, 204, 204);
   padding: 2px 4px;
   cursor: pointer;
   margin-right: 5px;
}
.delete-button{
  
background-color: darkred;
color :white;
border:  1px solid rgb(59, 57, 57);
padding: 2px 4px;
border-radius: 2px;
cursor: pointer;


}

.quantity-update-caution{
color:rgb(201, 6, 6);
font-weight: 500;
font-size:12px;
margin: 2px 2px;
display: none;
}

 

.order-summary-heading{
 font-size: 20px;
 font-weight: 700;

}

.amount-before-tax{
   font-weight: bold;
   color: rgb(8, 8, 94);
}


.amount-before-tax{
   border-top: 1px dashed black ;
}

.order-cost-flex{
   border-top: 1px dashed black;
    
   

}

.order-total-text,
.actual-total-amount{
   color:darkred;
   font-weight: bold;
}
.place-order-div{
display: flex;
justify-content:center ;
background-color: whitesmoke;
padding: 8px 6px;

}
.place-order-button{
   cursor: pointer;
   width: 40%;
   padding: 8px 4px;
   color: white;
   background-color:rgb(5, 96, 124);
   border: none;
   font-size: 15px;
   border-radius: 3px;
   font-family: roboto;
   flex-shrink: none;
   transition: 0.5s ease;
}
.place-order-button:hover{
transform: scale(1.1);
transition: 0.5s ease;
background-color: rgb(20, 111, 196);
}

.empty-cart{
   color:black;
   font-weight: 900;
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}
.view-products-container{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.view-products-container button{

   padding: 6px 9px;
   cursor: pointer;
   background-color: aqua;
   border: 1px black solid;
   font-weight: 700;
   transition: 1s ease;
}

.view-products-container button:hover{
   background-color: aquamarine;
   color: brown;
   transform: scale(1.2);
   transition: 1s ease;
}


.client-details{
   display: none;
   border: none;
   width: 100%;
   padding: 10px;
}

.client-details div{
   margin-bottom: 15px;
   font-weight: bold;

}
.client-details div div{
margin-bottom: 2px;
 

}

.name,
.phone-number{
   color: rgb(9, 51, 190);
}

.address{
   color: brown;
}


.name-input,
.number-input{
   border: 1px solid black;
   padding: 6px 6px;
   border-radius: 2px;
   width: 70%;
}

.name-input:focus,
.number-input:focus{
outline: none;
   border: 1px solid blue;
}

.address-input{
   height: 150px;
   
}

.show{
   display: initial;
}

.hide{
display: none;
}


.remove-flex{
   display: flex;
   justify-content: start;
   flex-direction: column;
}
span,
p{
   color: red;
   font-size: 12px;
   margin-top: -16px;
   position: absolute;
   display: flex;
   justify-content: end;
}