body{
    
    
    margin-top: 60px;
    background-color: white;
    
    font-family: roboto;
    font-size: 14px;
     
}

body a{
    text-decoration: none;
}
.company-info{
   display:flex;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 top:0;
 right: 0;
 left: 0;
 height: 60px;
 

 background-color:  rgb(238, 120, 10);
}

.logo{
   height: 65px;
}
.right-info-side{
   display: flex;
   align-items: center;
   height: 60px;
  
}
.company-name{
   display: inline-block;
   font-size: x-large;
   color: white;
   cursor:default;
  
   
}

.left-info-side{
   color: white;
   font-weight: bolder;
   font-size: large;
   margin-right: 20px;
}
.header{

 display:flex;
 justify-content:space-between ;
 align-items: center;
 height: 60px;
 position: fixed;
 right: 0px;
 left:0px;
 top: 0px;
 background-color:  rgb(248, 135, 59);
 color: rgb(182, 23, 23);

 

}

.home-text{
    font-size: 25px;
    font-weight: bold;
    color: white;
    
   
   

}
.orders-returns-text{
    font-weight: bolder;
    line-height: 15px;
    color: white;
}
   
.cart-text{
    font-size: 18px;
    font-weight: bolder;
    color: white;
}

 .left-side,
 .right-side{
    display: flex;
    background-color:  rgb(248, 135, 59);
    height: 100%;
   

 }
 .orders-returns-div,
 .cart-div,
 .home-list-div{
    display: flex;
    width: 100px;
    align-items: center;
    margin: 5px;
     
 }
.home-list-div{
    justify-content: space-between;
}

 
 .orders-icon,
 .cart-icon{
    width: 40px;
    cursor: pointer;
 }
 .list-icon{
  width: 30px;
  margin-right: 8px;
  padding-top: 4px;
  cursor: pointer;

 }

 .middle{
    display: flex;
    flex: 1;
    max-width: 600px;
    min-width: 260px;
    
 }

  

 .search-div{
    margin-left: 15px;
    width:100%;
    background-color: white;
    border: 1px solid rgb(182, 5, 5);
    border-top-left-radius: 5px;
    border-bottom-left-radius:3px ;
    
   
    
 }
 .searchbar{
     padding-top: 10px;
     padding-bottom: 10px;
    font-size: 15px;
    width:100%;
    border-style: none;
    border-top-left-radius:3px ;
    
    
    resize: none;
    outline: none;
    
 }
 .search-icon-container{
   background-color: rgb(230, 160, 11);
   height: 35.6px;
   padding-top: 4px;
   padding-left: 4px;
   margin-top: 1px;
   margin-bottom: 1px;
   margin-left: -1px;
   border-top-right-radius:3px ;
   border-bottom-right-radius:3px ;
   margin-right: 15px;
   cursor: pointer;
    
   
 }
 .search-icon{
    margin-top: 1px;
 }
 .products-grid{
    margin-top: 100px;
 }
 .item{
   height:120px ;
   
  
 }
 .cart-quantity{
  color: rgb(13, 4, 46);
  font-weight: 800;
  margin-left: 15px;
  margin-bottom: -12px;
  padding-top:6px;
 }

 .main-menu-info{
  
  display: flex;
  flex-direction:column;
  position: fixed;
  top: 40px;
  left: 0px;
  height:max-content;
  width: 110px;
  background-color: rgb(2, 1, 1);
  
 }
 .categories{
  margin-left: 0;
  background-color:  rgb(248, 135, 59);
  font-size: 16px;
  color: white;
  cursor: default;
  padding: 10px 6px;
  font-weight: 900;
  
 }

 .categories-laptops,
 .categories-mobiles,
 .categories-other{
  color: white;
  padding: 4px  ;
  padding-left: 8px;
  cursor: pointer;
  
  
 }

.categories-laptops:hover,
.categories-mobiles:hover,
.categories-other:hover{
  text-decoration: wavy;
  box-sizing: border-box;
  color: aqua;
}






 .products-grid-container{
   display:grid;
   flex-direction: row;
   justify-content: space-between;
   grid-template-columns:repeat(5,1fr);
   column-gap: 0;
   row-gap: 0;
   border-left: 2px solid darkgrey;
   border-right: 1px solid darkgrey;
   border-bottom: 2px solid darkgrey;
   background-color: white;
   justify-content: space-between;
   flex: 1;
  

   
 }


 
 @media (max-width: 2000px) {
   .products-grid {
     grid-template-columns: repeat(5, 1fr);
   }
 }
 
 /* This @media means when the screen width is 1600px or
    less, we will divide the grid into 6 columns. */
 @media (max-width: 1600px) {
   .products-grid-container{
     grid-template-columns: repeat(6, 1fr);
   }
 }
 
 @media (max-width: 1300px) {
   .products-grid-container{
     grid-template-columns: repeat(5, 1fr);
   }
 }
 
 @media (max-width: 1000px) {
   .products-grid-container{
     grid-template-columns: repeat(5, 1fr);
   }
 }
 
 @media (max-width: 800px) {
   .products-grid-container{
     grid-template-columns: repeat(3, 1fr);
   }
 }
 
 @media (max-width: 575px) {
   .products-grid-container{
     grid-template-columns: repeat(2, 1fr);
   }
 }
 
 @media (max-width: 450px) {
   .products-grid-container{
     grid-template-columns: 1fr;
   }
 }


 .product-container{
   display: inline-block;
   
   border-right: 1px solid lightgrey;
   border-top: 1px solid lightgray ;
   
   
   border-spacing:0;
   max-width: 250px;
   
   
 }
 .product-image-container{
   display: flex;
   justify-content: center;
   padding-top: 8px ;
    align-items: center;
   margin-right: 8px;
   
  
   width:100%;
   height: 200px;
   flex: 1;
 }
 .product-name-container{
   display: flex;
   justify-content: center;
   font-size: 16px;
   font-weight: 400;
   margin-top: 0px;
  height: 45px;

 }
 .product-specs{
  padding-left: 5px;
 }

 .storage-rom-container,
 .storage-ram-container,
 .product-system-container{
 display: flex;
 margin: 7px 3px;
 align-items: center;
 justify-content: safe;
 gap: 15px;
 

 }

 .rom-text-container,
 .ram-text-container,
 .system-text-container,
 .product-price-text{
   font-weight: 600;
   font-style: arial;
 }
 .system-text-container{
  width:  80px;
  line-height: 15px;
 }
 .ram-amount,
 .rom-amount,
 .product-operating-system{
   color: rgb(0, 0, 255);
    
 }
 .amount-container,
 .rom-type{
   color:brown;
   font-weight: 800;
 }
 .js-more-info,
 .see-less-button{
  color: rgb(0, 17, 255);
  cursor: pointer;
  border:none;
  background-color:white;
  display: inline-block;
 }

 .displayed-info{
  padding-left: 10px;
  color: rgb(28, 32, 29);
  border:none;
  background-color:white;
 
 max-height: 150px;
  font-size: 13px;
  cursor:text;
  
 
 }

 
 

 .product-price-container{
   display: flex;
   justify-content: center;
   margin-top: 10px;
   padding-top: 4px;
   padding-bottom: 4px;
    
 }

 .added-text-div{
   margin-top: 8px;
   margin-left: 70px;
   font-size: 22px;
   font-weight: bold;
   color:green;
 }
 .add-to-cart-container{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

   
 }
.added-tick-icon{
 width: 18px;
 margin-bottom: 0;
}
.product-quantity-container select{
  height: 100%;
  border: 2px solid rgb(238, 83, 11);
  margin-left: 5px;
  cursor: pointer;
  border-radius:3px;
  font-family: roboto;
   
}
.product-quantity-container{
display: inline-block;
 
height: 25px;

}

 
 .add-to-cart-button{
   width: 120px;
   height: 35px;
   border: none;
   background-color: rgb(7, 89, 211);
   color: rgb(255, 255, 255);
   border-radius: 20px;
   font-size: 14px;
   cursor: pointer;
 }